.venv/
.vscode/
__pycache__/
outputs/
.ipynb_checkpoints/
*.pyc
results/plots/
results/metrics/
# Virtual environments
venv/
venv_new/
venv_clean/

# Python cache
__pycache__/
*.py[c]

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db
